:root {
    --back0: #121212;
    --back1: #e9e9e9;
    --back2: #dbdbdb;
    --text: #101010;
    --text2: #b0b0b0;
    --success: #38ab5d;
    --error: #d14e5c;
    --principal: #2f6cc2;
}

.dark-mode {
    --back0: #121212;
    --back1: #6e6e6e;
    --back2: #3c3c3c;
    --text: #f9f9f9;
    --text2: #b0b0b0;
    --success: #38ab5d;
    --error: #d14e5c;
    --principal: #2f6cc2;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: auto auto;
    /* gap: 0px 0px; */
    /* justify-items: stretch; */
    /* align-items: stretch; */
}

.header {
    grid-area: 1 / 1 / 2 / 3;
    z-index: 9999;
    background-color: var(--back2);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
}

.logo-container {
    /* flex: 1; */
    display: flex;
    font-size: 20px;
    flex: initial;
}

/* .logo-name { */
/*     font-weight: 700; */
/*     color: var(--principal); */
/*     padding: 0px 16px;   */
/* } */

.project-info {
    display: flex;
    flex: auto;
    justify-content: center;
}

.project-info input {
    color: var(--text);
    text-align: center;
    border: hidden;
    background: transparent;
    width: 200px;
    flex: initial;
}

input::placeholder {
    color: var(--text);
}

.user-links {
    display: flex;
    flex: initial;
    padding-right: 16px;
}

.nav-links {
    display: flex;
    flex: auto;
    gap: 16px;
    /* justify-content: flex-end; */
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    /* padding: 0px 16px 0px 16px; */
}

.sidebar {
    background-color: var(--back1);
    color: var(--text);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
    /* margin-bottom: 3px; */
    width: 150px;
    list-style: none;
}

.sidebar ul {
    list-style: none;
}

.sidebar.right {
    justify-self: end;/* right: 0px; *//* position: absolute; */
    /* display: flex; */
    
    /* right: 0px; */
    /* align-self: end; */
    grid-area: 2 / 2 / 3 / 3;
    /* visibility: visible; */
}

.sidebar.active {
    visibility: visible;
}

/* .subtitle { */
/*     color: var(--text2); */
/*     font-size: 14px; */
/*     padding-bottom: 8px; */
/* } */

.project-tree {
    flex: 1;
    padding: 8px;
}

.object-properties {
    flex: 1;
    padding: 8px;
    border-top: 2px solid var(--back2);
}

/* .menu { */
/*     grid-area: 2 / 2 / 3 / 3; */
/*     align-self: start; */
/*     justify-self: center; */
/*     background-color: var(--back1); */
/*     display: flex; */
/*     width: 80%; */
/*     height: 40px; */
/*     margin-top: 20px; */
/*     align-items: center; */
/*     border-radius: 8px; */
/*     z-index: 9999; */
/* } */

/* .menu-links { */
/*     flex: 1; */
/*     padding: 0px 20vw; */
/*     justify-content: space-around; */
/*     list-style: none; */
/*     display: flex; */
/* } */

/* .menu-link { */
/*     text-decoration: none; */
/*     color: var(--text); */
/* } */

.renderer-output {
    grid-area: 2 / 1 / 4 / 3;
    position: absolute;
    /* left: 0px; */
    /* top: 0px; */
    width: 100%;
    height: 100%;
    /* display: grid; */
    /* grid-template-rows: auto; */
    /* grid-template-columns: auto; */
    /* align-items: stretch; */
    /* justify-items: stretch; */
    z-index: 9;
}

#canvas {
    /* grid-area: 1 / 1 / 2 / 2; */
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: linear-gradient(--back2, --back1);
}

#labels {
    position: absolute;
    width: 100%;
    height: 100%;
    /* grid-area: 1 / 1 / 2 / 2; */
    color: var(--text);
    z-index: 999;
}

#labels > div {
    outline: none;
    -webkit-tap-highlight-color: var(--text);
}

.joint, .frame {
    color: var(--text);
    padding: 2px;
    background-color: var(--back1);
}

/* #Stats-output { */
/*   position: absolute; */
/*   right: 10px; */
/*   bottom: 100px; */
/*   z-index: 1; */
/* } */

.header a:hover,
.menu a:hover {
    color: var(--principal);
  /* padding: 8px; */
  /* background-color: var(--principal); */
  /* border-radius: 8px; */
}

.footer {
     /* position: static; */
    z-index: 9999;
    grid-area: 3 / 1 / 4 / 3;
    /* display: grid; */
    /* grid-template-columns: auto 120px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.myButton {
	background-color:var(--black0); /* #44c767 */
	/* border-radius:28px; */
	border:1px solid var(--black2); /* #18ab29 */
	/* display:inline-block; */
	cursor:pointer;
	color: var(--text);
	/* font-family:Arial; */
	font-size:20px;
	padding:0px 16px 0px 16px; /* 31px */
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
    color: var(--principal);
    /* background-color:var(--text);/\* #5cbf2 *\/ */
}

.console {
    /* grid-area: 3 / 1 / 4 / 3; */
    z-index: 9999;
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
    height: 100%;
    /* z-index: 9999; */
    /* grid-column: 1 / 2; */
    /* align-self: center; */
  /* flex: 1; */
  font-family: 'Inconsolata', monospace;
  color: var(--text);
  display: flex;
  flex-direction: column-reverse;
  /* align-items: center; */
  /* justify-content: flex-start; */
}

/* .date { */
/*     /\* position: absolute; *\/ */
/*     width: auto; */
/*     /\* right: 100%; *\/ */
/*   padding: 0px 8px; */
/*   color: var(--text); */
/*   grid-column: 2 / 3; */
/*   display: flex; */
/*   align-items: right; */
/*   justify-content: flex-end; */
/*   align-self: center; */
/* } */

.terminal {
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: var(--back0); */
    /* opacity: 0.5; */

    background-color: var(--back2);
    color: var(--text);
    /* align-self: flex-end; */
    /* grid-template-columns:  auto; */
  /* flex: 1; */
  /* margin-left: 8px; */
}

.output {
    color: var(--text);
    /* position: absolute; */
    height: 40px;
    /* width: 0px; */
    /* bottom: 0px; */
    grid-area: 2 / 1 / 3 / 3;
    align-self: end;
    z-index: 9999;
    display: flex;
    
  /* flex: 1; */
  /* margin-left: 8px; */

}

.log {
    max-height: 40px;
    align-self: end;
    overflow: auto;
}

.log.remove-message {
  animation: remove 8s ease 2s;
}

@keyframes remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.log.message-successful {
  color: var(--success);
}

.log.message-error {
  color: var(--error);
}

.prompt {
    width: initial;
    /* grid-columns: 1 / 2; */
  padding-left: 8px;
}

.command-line {
    /* position: absolute; */
    /* width: 140px; */
    /* grid-columns: 2 / 3; */
  outline: none;
  background-color: var(--back2);
  font-family: 'Inconsolata' monospace;
  color: var(--text);
  font-size: 16px;
  border: none;
  flex: auto;
}

.autocomplete {
    grid-area: 2 / 1 / 3 / 3;
    z-index: 99999;
    align-self: end;
    justify-self: end;
    /* position: absolute; */
    /* width: 0px; */
    display: flex;
    /* flex: 2; */
  /* justify-content: end; */
  /* align-items: end; */
  /* width: auto; */
  /* color: red; */
  /* /\* top: 0; *\/ */
  /* /\* right: 0; *\/ */
  /* padding: 3px; */
  flex-direction: column-reverse;
}

.option {
    border: 2px solid var(--back2);
    color: var(--text);
  padding: 9px;
  margin: 0 4px;
  width: min-content;
  align-self: flex-end;
}

.option.option-selected, .option:hover {
  color: green;
  border: 2px solid green;
}

/* input[type="text"], */
/* input[type="number"], */
/* input { */
/*   font-size: 16px; */
/* } */
