:root {
  --back0: #121212;
  --back1: #333333;
  --back2: #404040;
  --text: #e6e6e6;
  --text2: #b0b0b0;
  --success: #38ab5d;
  --error: #d14e5c;
  --principal: #2f6cc2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  z-index: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: var(--back0);
  display: grid;
  grid-template-rows: 40px auto auto 30px 0px;
  grid-template-columns: 15vw auto 0px;
  gap: 0px 0px;
  justify-items: stretch;
  align-items: stretch;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--back2);
  color: var(--text);
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1;
  display: flex;
}

.logo-name {
  font-size: 20px;
  color: var(--principal);
  padding: 0px 16px;
}

.project-info {
  flex: 2;
  display: flex;
  justify-content: center;
}

.user-links {
  flex: 1;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
  padding: 0px 16px;
}

.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  background-color: var(--back1);
  color: var(--text);
  display: flex;
  flex-direction: column;
  /* margin-bottom: 3px; */
}

.subtitle {
  color: var(--text2);
  font-size: 14px;
  padding-bottom: 8px;
}

.project-tree {
  flex: 1;
  padding: 8px;
}

.object-properties {
  flex: 1;
  padding: 8px;
  border-top: 2px solid var(--back2);
}

.menu {
  grid-area: 2 / 2 / 4 / 3;
  align-self: start;
  justify-self: center;
  background-color: var(--back1);
  display: flex;
  width: 80%;
  height: 40px;
  margin-top: 20px;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
}

.menu-links {
  flex: 1;
  padding: 0px 20vw;
  justify-content: space-around;
  list-style: none;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: var(--text);
}

.renderer-output {
  grid-area: 2 / 2 / 4 / 3;
  /* position: absolute; */
  /* left: 0px; */
  /* top: 0px; */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-items: stretch;
  justify-items: stretch;
}

#canvas {
  grid-area: 1 / 1 / 2 / 2;
}

#labels {
  grid-area: 1 / 1 / 2 / 2;
  color: var(--text);
  z-index: 2;
}

#labels > div {
  outline: none;
  -webkit-tap-highlight-color: var(--text);
}

.joint, .frame {
  color: var(--text);
  padding: 2px;
  background-color: var(--back1);
}

#Stats-output {
  position: absolute;
  right: 10px;
  bottom: 100px;
  z-index: 1;
}

.header a:hover,
.menu a:hover {
  padding: 8px;
  background-color: var(--principal);
  border-radius: 8px;
}

.footer {
  grid-area: 4 / 1 / 5 / 3;
  background-color: var(--back0);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.console {
  flex: 4;
  font-family: 'Inconsolata', monospace;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.date {
  flex: 1;
  padding: 0px 8px;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.terminal {
  flex: 1;
  margin-left: 8px;
  display: flex;
}

.output {
  flex: 1;
  margin-left: 8px;
  display: flex;
}

.log.remove-message {
  animation: remove 8s ease 2s;
}

@keyframes remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.log.message-successful {
  color: var(--success);
}

.log.message-error {
  color: var(--error);
}

.prompt {
  padding-right: 8px;
}

.command-line {
  outline: none;
  background-color: var(--back0);
  font-family: 'Inconsolata' monospace;
  color: var(--text);
  font-size: 16px;
  border: none;
}

input[type="text"],
input[type="number"],
input {
  font-size: 16px;
}
