body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
  margin: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

#sidebar {
  position: absolute;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 999999;
}

#sidebar.active {
  left: 0px;
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

#overlay.active {
  display: block;
  opacity: 1;
}

#button {
  position: absolute;
  z-index: 9999;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#renderer-output {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

#labels {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 9999;
}

#labels > div {
  outline: none;
  /* mobile webkit */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.joint, .frame {
  color: #FFF;
  font-family: sans-serif;
  padding: 2px;
  background: rgba( 0, 0, 0, .6 );
}

#Stats-output {
  position: absolute;
  right: 50px;
  bottom: 100px;
  z-index: 9999;
}

#console {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
}

.sidebar {
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* console */
.console {
  font-family: 'Inconsolata', monospace;
  box-sizing: border-box;
  padding: 12px;
}

/* output */
.output {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
}

.log {
  color: green;
  margin: 0;
}

.log.remove-message {
  animation: remove 5s ease 2s;
}

@keyframes remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.log.message-successful {
  color: green;
}

.log.message-error {
  color: red;
}

.terminal {
  position: relative;
  display: flex;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  box-sizing: border-box;
}

.prompt, .command-line, .autocomplete {
  font-family: 'Inconsolata', monospace;
}

.prompt, .command-line {
  color: #00ff00;
  padding: 12px;
}

.command-line {
  width: 100%;
  outline: none;
}

.autocomplete {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
  color: red;
  box-sizing: border-box;
  top: 0;
  right: 0;
  padding: 3px;
}

.option {
  box-sizing: border-box;
  border: 2px solid red;
  padding: 9px;
  margin: 0 4px;
  width: auto;
}

.option.option-selected, .option:hover {
  color: green;
  border: 2px solid green;
}

.prompt {
  /* style */
  background-color: rgb(0, 0, 0);
  border-left: 2px solid #000000;
  border-right: none;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 8px 0 0 8px;
}

.command-line {
  /* style */
  background-color: rgba(0, 0, 0, 0.7);
  border-left: none;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 0 8px 8px 0;
}

.option {
  /* style */
  background-color: none;
  border: 2px solid red;
  border-radius: 8px;
}


.terminal > ::placeholder {
  /* style */
  color: #00ff00
}

/* for dat gui */
.dg.ac {
  z-index: 99;
}

input[type="text"],
input[type="number"],
input {
  font-size: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}